<div>
  <h1>Hello World</h1>
  <p>
    <ngb-alert [dismissible]="false">
      <strong>Warning!</strong> Better check yourself, you're not looking too
      good.
    </ngb-alert>
  </p>
  <mat-slide-toggle>Toggle me!</mat-slide-toggle>
  <section>
    <div class="example-label">Raised</div>
    <div class="example-button-row">
      <button mat-raised-button>Basic</button>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
      <a mat-raised-button href="https://www.google.com/" target="_blank"
        >Link</a
      >
    </div>
  </section>

  <!-- todo list banayege -->
  <input type="text" placeholder="Enter New Task" #task />
  <br /><br />
  <button type="submit" (click)="storeTask(task.value)">Add Task</button>
  <ul *ngFor="let task of tasks">
    <li>{{ task }} <button>Remove</button></li>
  </ul>
  <app-child [item]="data"></app-child>

  <!-- using pipes  -->
  <!-- pipes are used for data manipulation in any format like uppercase or may be anything  -->
  <!-- pipes are only used in HTML file only not TS or CSS  -->
  <h1>{{ today | date }}</h1>
  <h1>{{ today | date: 'fullDate' }}</h1> <!-- using paramter we can also access -->
</div>
  
